#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.photographer-name{
    color: #d3573c;
    font-size: 40px;
    margin: 20px 0 3px;
}

.photographer-adress{
    color: #901C1C;
    font-size: 24px;
}

.photographer-tagline{
    color: #525252;
    font-size: 18px;
}

.photographer-portrait{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.photographer-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 100px 0;
}

.photographer-gallery__card{
    flex-basis: 40%;
    margin-bottom: 20px;
    width: 350px;
    justify-self: center;
}

.photographer-gallery__media{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-gallery__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #901C1C;
    line-height: 5px;
    flex-wrap: wrap;

}

.bntlikes{
    cursor: pointer;
}

#contact_modal{
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photographer-gallery__info-title{
    font-weight: 400;
    padding-top: 0;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.photographer-gallery__info-likes{
    font-weight: 600;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin : 15px 35px 60px;
    align-items: flex-start;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: #000;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form label {
    margin-top: 5px;
    margin-bottom: 5px;
}

form textarea{
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

.header_title{
    display: flex;
    flex-wrap: wrap;
}


/* galerie modal  */

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    /* overflow: auto; */
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox__prev, .lightbox__next{
    color: #901C1C;
    font-size: 50px;
    /* width: 40px; */
    z-index: 11;
    position: fixed;
    top: 50%;
    right: 37%;
    margin-top: -14px;
    cursor: pointer;
}

.lightbox__prev{
    right: auto;
    left: 37%;
}

.lightbox__close{
    border: 0;
    background: none;
    font-size: 60px;
    color: #901C1C;
    cursor: pointer;
    position: fixed;
    top: 16%;
    right: 37%;
    z-index: 12;
}
.lightbox__container img{
    max-width: 100%;
    /* height: 750px; */
    max-height: 600px;
}

.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

.lightbox__media--title{
    color: #901C1C;
    font-size: 24px;
    position: fixed;
    top: 80%;
    z-index: 10;
    right: 0;
    left: 39.5%;
}