#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover{
    background-color: #DB8876;
    color: #000;
}

.photographer-name{
    color: #d3573c;
    font-size: 40px;
    margin: 20px 0 3px;
}

.photographer-adress{
    color: #901C1C;
    font-size: 24px;
}

.photographer-tagline{
    color: #525252;
    font-size: 18px;
}

.photographer-portrait{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}

.photographer-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 100px 0;
}

.photographer-gallery__card{
    flex-basis: 40%;
    margin-bottom: 20px;
    width: 350px;
    justify-self: center;
}

.photographer-gallery__media{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-gallery__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #901C1C;
    line-height: 5px;
    flex-wrap: wrap;

}

.btnlikes{
    cursor: pointer;
}

#contact_modal{
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
}

.photographer-gallery__info-title{
    font-weight: 400;
    padding-top: 0;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.photographer-gallery__info-likes{
    font-weight: 600;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px 30px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin : 15px 35px 60px;
    align-items: flex-start;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: #000;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form label {
    margin-top: 1px;
    margin-bottom: 2px;
}

form textarea{
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

.header_title{
    display: flex;
    flex-wrap: wrap;
}


/* galerie modal  */

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox__prev, .lightbox__next{
    color: #901C1C;
    font-size: 50px;
    z-index: 11;
    position: absolute;
    top: 50%;
    right: 33%;
    margin-top: -14px;
    cursor: pointer;
}

.lightbox__prev{
    right: auto;
    left: 33%;
}

.lightbox__close{
    border: 0;
    background: none;
    font-size: 60px;
    color: #901C1C;
    cursor: pointer;
    position: fixed;
    top: 45px;
    right: 33%;
    z-index: 12;
}
.lightbox__container img{
    max-width: 100%;
    max-height: 80vh;
}

.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 30%;
}

.lightbox__media--title{
    color: #901C1C;
    font-size: 24px;
    bottom: 10px;
    z-index: 10;
    right: 0;
    left: 39.5%;
    margin-top: 5px;
}

/* filter  */

.photographer-filter{
    margin: 20px 100px ;
    position: relative;
}

.photographer-filter__label{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-right: 25px;
}

.photographer-filter select{
    background-color: #901C1C;
    color: #fff;
    border-radius: 5px;
    padding: 16px 20px 16px 20px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    width: 160px;
}

.photographer-filter select:focus-visible{
    border: none;
    outline: none;
}

.photographer-filter::after{
    content: "\25BC";
    padding: 0 1em;
    position: absolute;
    top: 25%;
    left: 2px;
    top: 30%;
    left: 210px;
    color: #fff;
    cursor: pointer;
}

select option{
    font-size: 18px;
    font-weight: 700;
    padding: 23px 26px 23px 20px;
    cursor: pointer;
    border-bottom: #fff solid 2px;
}

option:hover{
    cursor: pointer;
}

/* overlay price & likes  */

#overlay__wrapper{
    display: flex;
    width: 240px;
    height: 70px;
    background: #DB8876;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    position: fixed;
    padding: 0 2rem;
    right: 2rem;
    bottom: 0;
    z-index: 15;
}

.overlay__wrapper--like span, .overlay__wrapper--like i, .overlay__wrapper--pricing span {
    font-size: 24px;
}

#overlay__wrapper span{
    font-weight: 600;
}


